.container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.rain-maker {
  display: block;
  font-size: 3em;
  padding: 0.5em 0.7em;
  background-color: gold;
  border: none;
  font-weight: bold;
  font-family: Helvetica;
  
  &:hover {
    background-color: darken(gold, 5%);
  }
  &:active {
    background-color: darken(gold, 10%);
  }
}

.rain {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}
