body {
	background-color:black;
}
div {
	display:block;
}
h1 {
	color:red;
	font-family: 'Lovers Quarrel', cursive;
}
canvas {
 display:block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}