/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Placeholder for background */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333; /* Placeholder for header background */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin-bottom: 0.5rem;
}

header p {
    font-style: italic;
}

.image-container {
    margin: 1rem auto;
    width: 100%; /* Adjust based on layout */
    max-width: 480px;
    padding: 0.5rem;
    border: 5px solid #333; /* Placeholder for border */
}



/* Style for Leaflet map */
.leaflet-container {
    height: 480px; /* Adjust based on layout */
    border-radius: 8px;
}

#scoreboard {
    background-color: #333; /* Placeholder for scoreboard background */
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

#game-controls {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#game-controls button {
    background-color: #444; /* Placeholder for button background */
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

#game-controls button:hover {
    background-color: #555;
}

/* Custom Zoom Controls Styling */
#custom-zoom-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it's above the map */
}

#zoom-in-btn, #zoom-out-btn {
    background-color: #fff; /* Example: white background */
    border: none;
    padding: 10px;
    cursor: pointer;
    /* Add more styling as needed */
}

.difference-marker {
    width: 20px; /* Set the size of the clickable area */
    height: 20px;
    background: red; /* Invisible */
    cursor: pointer; /* Change cursor to indicate clickable area */
}

.difference-found {
    background: url('success.png') no-repeat center center;
    background-size: cover;
    animation: foundAnimation 1s;
}

@keyframes foundAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}



/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    grid-gap: 10px; /* Adjust the gap between grid items */
    padding: 10px; /* Padding around the grid */
}

/* Mobile layout - stacked */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column for mobile */
    }
}