/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Placeholder for background */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333; /* Placeholder for header background */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin-bottom: 0.5rem;
}

header p {
    font-style: italic;
}

.image-container {
    margin: 1rem auto;
    width: 80%; /* Adjust based on layout */
    padding: 0.5rem;
    border: 5px solid #333; /* Placeholder for border */
}



/* Style for Leaflet map */
.leaflet-container {
    height: 400px; /* Adjust based on layout */
    border-radius: 8px;
}

#scoreboard {
    background-color: #333; /* Placeholder for scoreboard background */
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

#game-controls {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#game-controls button {
    background-color: #444; /* Placeholder for button background */
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

#game-controls button:hover {
    background-color: #555;
}

.difference-marker {
    width: 20px; /* Set the size of the clickable area */
    height: 20px;
    background: green; /* Invisible */
    cursor: pointer; /* Change cursor to indicate clickable area */
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .image-container {
        width: 95%;
    }
}
