
html,
body {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    color:white;
}

.container {
    margin: 40px auto;
    width: max(60vw, 300px);
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* display:grid; */
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    border: 1px solid white;
    padding: 8px 16px;
    cursor: pointer;
	  border-radius: 6px;
    width: max(20vw, 190px);
    margin:auto;
}

#file-upload {
    display: none;
}

.upload-icon {
    width: 30px;
}

#image-container {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

#image-container>img {
    width: 100%;
}
#scoreboard {
  display: flex;
  justify-content: space-between;
}

@keyframes color-change-border {
  0% {border-color: rgba(255, 0, 0, 0.5);} /* Red */
  25% {border-color: rgba(0, 255, 0, 0.5);} /* Green */
  50% {border-color: rgba(0, 0, 255, 0.5);} /* Blue */
  75% {border-color: rgba(255, 255, 0, 0.5);} /* Yellow */
  100% {border-color: rgba(255, 0, 0, 0.5);} /* Red */
}

@keyframes color-change-label {
  0% {background: rgba(255, 0, 0, 0.2);} /* Red */
  25% {background: rgba(0, 255, 0, 0.2);} /* Green */
  50% {background: rgba(0, 0, 255, 0.2);} /* Blue */
  75% {background: rgba(255, 255, 0, 0.2);} /* Yellow */
  100% {background: rgba(255, 0, 0, 0.2);} /* Red */
}

.bounding-box {
    position: absolute;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    animation: color-change-border 5s infinite, color-change-label 5s infinite;
}

.bounding-box-label {
    color: white;
    position: absolute;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 6px;
    padding: 3px;
    width: 100%;
}

.loading-screen {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.status {
  text-align: center;
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
}
.sk-wave {
  /* position: fixed; */
  top: 50%;
  left: 50%;
}
#fancy-status {
  background: rgba(255, 0, 0, 0.5); /* Red background with 50% opacity */
  animation: color-change-status 5s infinite;
}

@keyframes color-change-status {
  0% {background: rgba(255, 0, 0, 0.5);} /* Red */
  25% {background: rgba(0, 255, 0, 0.5);} /* Green */
  50% {background: rgba(0, 0, 255, 0.5);} /* Blue */
  75% {background: rgba(255, 255, 0, 0.5);} /* Yellow */
  100% {background: rgba(255, 0, 0, 0.5);} /* Red */
}

#rect1 { background: rgba(255, 0, 0, 0.5); } /* Red */
#rect2 { background: rgba(0, 255, 0, 0.5); } /* Green */
#rect3 { background: rgba(0, 0, 255, 0.5); } /* Blue */
#rect4 { background: rgba(255, 255, 0, 0.5); } /* Yellow */
#rect5 { background: rgba(255, 0, 255, 0.5); } /* Magenta */

p {
  /* margin-top: 10px; */
  margin-bottom: 40px;
}



/* Make it Pop CSS */


body {
  display: grid;
  place-items: center;
  background: #000;
  min-height: 100vh;
  /* font-family: "Angkor", serif; */
  margin: 0;  /* Remove default browser margins */
  padding: 20px; /* Consistent spacing around content */
  line-height: 1.6; /* Generous line spacing */
}

h1 {
  --font-size: clamp(1rem, 2vw + 1rem, 4rem);
  font-family: "Angkor", serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: hsl(0 0% 100%);
  font-size: var(--font-size);
  position: relative;
  display: flex;
  align-items: flex-end;
}


::-moz-selection {
  background: black;
}

::selection {
  background: black;
}

h1 > span:first-of-type {
  display: inline-block;
  /* line-height: 0.8; */
}

h1 > span:last-of-type {
  position: absolute;
  left: 98%;
  bottom: 46%;
  font-size: calc(var(--font-size) * 0.45);
  opacity: 0.75;
}

h1 > span:nth-of-type(2) {
  position: relative;
/*   background: radial-gradient(circle at center, red, blue) 50% 50% / 200cqh 200cqh no-repeat;
  background-clip: text;
  color: transparent; */
/*   animation: pop 1.75s infinite ease-in-out; */
}

.pops {
  position: absolute;
  inset: 0;
  background: white;
  mix-blend-mode: darken;
  filter: brightness(2);
  overflow: hidden;
  pointer-events: none;
}

/* h1 span:nth-of-type(2)::before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  left: 0%;
  translate: -50% 0;
  background: radial-gradient(circle at center, hotpink, yellow) 50% 50% / 400% 400% no-repeat;
  mix-blend-mode: color-dodge;
  animation: pop 3.25s infinite ease-in-out;
} */

@-webkit-keyframes pop {
  50% {
    background-size: 100% 100%;
  }
}

@keyframes pop {
  50% {
    background-size: 100% 100%;
  }
}

.pop {
  height: var(--size, 100%);
  aspect-ratio: 1;
  background: radial-gradient(hsl(var(--h) 100% 70%) 25%, transparent 50%);
  position: absolute;
  display: inline-block;
  -webkit-animation: scale var(--s, 2s) var(--d, 0s) infinite alternate;
          animation: scale var(--s, 2s) var(--d, 0s) infinite alternate;
  left: var(--x, 0);
  top: var(--y, 0);
  scale: 0;
  translate: -50% -50%;
  mix-blend-mode: multiply;
  filter: blur(2px);
}

.pop:nth-of-type(1) {
  --x: 10%;
  --y: 25%;
  --h: 277;
  --s2: 6;
  --d: -0.25s;
  --s: 6s;
}

.pop:nth-of-type(2) {
  --x: 50%;
  --y: 45%;
  --h: 140;
  --s2: 5;
  --d: -0.75s;
  --s: 5s;
}
.pop:nth-of-type(3) {
  --x: 65%;
  --y: 75%;
  --h: 210;
  --s2: 3;
  --d: -0.5s;
  --s: 3s;
}
.pop:nth-of-type(4) {
  --x: 85%;
  --y: 15%;
  --h: 320;
  --s2: 5;
  --d: -1s;
  --s: 2s;
}
.pop:nth-of-type(5) {
  --x: 15%;
  --y: 100%;
  --h: 40;
  --s2: 3;
  --d: -1s;
  --s: 2s;
}

@-webkit-keyframes scale {
  to {
    scale: var(--s2);
  }
}

@keyframes scale {
  to {
    scale: var(--s2);
  }
}


* { margin:0; padding:0; } 

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -6;
    display: block;
    opacity: 0.4; /* Adjust as needed */
}
#controls {
  z-index: 2;
  margin: 20px;
  position: absolute;
  top: 0; left: 0;
  color: white;
}

/*Blobs*/
body .footer {
  z-index: 1;
  --footer-background:#5d38ff;
  display: flex;
  position: relative;
  width:100%;
  min-height: 12rem;
  margin-top:40px;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:70px;
  /* height: 1rem; */
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), 
              bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s),
              bubble-color-change 5s infinite; /* add this line */
  transform: translate(-50%, 100%);
}
body .footer .footer-content {
  z-index: 2;
  display: flex;
  
  padding: 2rem;
 
}
body .footer .footer-content a, body .footer .footer-content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .footer-content b {
  color: white;
}
body .footer .footer-content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .footer-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .footer-content > div > div {
  margin: 0.25rem 0;
}
body .footer .footer-content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .footer-content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

@keyframes bubble-color-change {
  0%   {background: rgba(255, 0, 0, 0.3);} /* red, 50% opacity */
  25%  {background: rgba(0, 255, 0, 0.3);} /* green, 50% opacity */
  50%  {background: rgba(0, 0, 255, 0.3);} /* blue, 50% opacity */
  100% {background: rgba(255, 0, 0, 0.3);} /* red, 50% opacity */
}


/*Glow Button */

@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');

:root {
/*  change this for scaling  */
  --m: 1.1rem;
  
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
  
}
/* body {
  background-color: #141516;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

.glowbtn {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #ffffff;
  /* font-family: 'Space Grotesk'; */
  /* font-size: var(--m); */
  border-radius: calc(0.7 * var(--m));
  padding: calc(0.5 * var(--m)) calc(1 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;
  
  background:linear-gradient(#000000, #000000), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

.glowbtn::before {
  content: '';
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

.glowbtn:hover, .glowbtn:hover::before {
  animation: animate 0.5s infinite linear;
  
}

@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}

.button-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  margin-bottom: 40px;
}

.button-container .glowbtn {
  margin:10px;
  padding-left: 30px;
  padding-right: 30px;
}

.found {
  background:white;
  box-shadow: none;
  color:black;
}

/*Modal*/

html.modal-active, body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#found-items-modal {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.two {
  transform: scale(1);
}
#found-items-modal.two .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.two .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.two + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.two.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#found-items-modal.two.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.two.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.two.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three {
  z-index: 0;
  transform: scale(1);
}
#modal-container.three .modal-background {
  background: rgba(0, 0, 0, 0.6);
}
#modal-container.three .modal-background .modal {
  animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three + .content {
  z-index: 1;
  animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three.out .modal-background .modal {
  animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three.out + .content {
  animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.four {
  z-index: 0;
  transform: scale(1);
}
#found-items-modal.four .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
#found-items-modal.four .modal-background .modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.four + .content {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.four.out .modal-background .modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#found-items-modal.four.out + .content {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five {
  transform: scale(1);
}
#modal-container.five .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.five.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six {
  transform: scale(1);
}
#modal-container.six .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal .modal-svg rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal .modal-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven {
  transform: scale(1);
}
#modal-container.seven .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  overflow: hidden;
  animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal h2, #modal-container.seven .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1.4s linear forwards;
}
#modal-container.seven.out {
  animation: slowFade 0.5s 1.5s linear forwards;
}
#modal-container.seven.out .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal {
  border-radius: 3px;
  height: 162px;
  width: 227px;
  animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal h2, #modal-container.seven.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#found-items-modal .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#found-items-modal .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#found-items-modal .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#found-items-modal .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#found-items-modal .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#found-items-modal .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slideUpLarge {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(150px);
  }
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fadeToRed {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.8);
  }
}
@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.no-underline {
  text-decoration: none;
}

.restart-button {
  text-align: center;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  width: max(20vw, 190px);
  margin: auto;
}